.container-fluid
  %button.btn.btn-primary.primary-button.add_contact{ type: 'submit' } Add New Contact

  #extra_buttons
    .response
    .form.hidden
      = simple_form_for @contact, url: "/add_contact", id: 'add_contact', remote: true do |b|
        = b.input :name, label: "Name"
        = b.input :phone_number, label: "Phone Number"

        .buttons
          = submit_tag 'Save'

  #search_results
  #keypad
